body {
  margin: 0;
  background-color: #f8f8f8;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #eee 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

.fab {
  opacity: 0.4;
  display: inline-block;
  padding: 1em;
  position: fixed;
  bottom: 1em;
  right: 1em;
  transition: opacity 1s ease;
}

.fab:hover {
  opacity: 1;
  transition: opacity 1s ease;
}

.fab .paper-btn {
  padding: 0.6em 1em;
  background: #fff;
  border-top-left-radius: 185px 160px;
  border-top-right-radius: 200px 195px;
  border-bottom-right-radius: 160px 195px;
  border-bottom-left-radius: 185px 190px;
}

/* Loader css */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #444;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

.showModal {
  visibility: visible !important;
  opacity: 1 !important;
}
